<h1>User Details</h1>
<mat-accordion class="example-headers-align" multi *ngIf="selectedUser$ | async as user">
  <mat-expansion-panel hideToggle expanded=true>
    <mat-expansion-panel-header>
      <mat-panel-title>
        First Name: {{ user.first_name }}
      </mat-panel-title>
      <mat-panel-title>
        Last Name: {{ user.last_name }}
      </mat-panel-title>
      <mat-panel-description>
        Email: {{ user.email }}
      </mat-panel-description>
      <mat-panel-description>
        Gender: {{ user.gender }}
      </mat-panel-description>
      <mat-panel-description>
        IP address: {{ user.ip_address }}
      </mat-panel-description>
      <mat-panel-description>
        User name: {{ user.username }}
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div *ngIf="dataSource?.data?.length > 0; else noPlatforms" class="table-wrapper">
      <table [dataSource]="dataSource" mat-table matSort>
        <ng-container matColumnDef="platform_id">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>ID</th>
          <td *matCellDef="let row" mat-cell> {{row.platform_id}} </td>
        </ng-container>

        <ng-container matColumnDef="name">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Name</th>
          <td *matCellDef="let row" mat-cell> {{row.name}}</td>
        </ng-container>

        <ng-container matColumnDef="last_shared">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Last Shared</th>
          <td *matCellDef="let row" mat-cell> {{row.last_shared | date}} </td>
        </ng-container>


        <ng-container matColumnDef="display_order">
          <th *matHeaderCellDef mat-header-cell mat-sort-header>Display Order</th>
          <td *matCellDef="let row" mat-cell> {{row.display_order}} </td>
        </ng-container>

        <ng-container matColumnDef="show_more">
          <th *matHeaderCellDef mat-header-cell>Show More</th>
          <td *matCellDef="let row" mat-cell>
            <a [routerLink]="['/platforms', row.platform_id]" color="primary" mat-raised-button>
              Details
            </a>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="displayedColumns; sticky: true" mat-header-row></tr>
        <tr *matRowDef="let row; columns: displayedColumns;" mat-row></tr>

      </table>
    </div>

  </mat-expansion-panel>
</mat-accordion>

<ng-template #noPlatforms>
  <h2>No Platforms</h2>
</ng-template>


