.menu-spacer {
  flex: 1 1 auto;
}

a {
  color: #fff;
  text-decoration: none;
  margin-left: 15px;
  &.active {
    text-decoration: underline;
  }
}

.logo {
  font-size: 20px;
}

main {
  padding: 10px;
}
